.auto {
  max-width: 1184px;
  width: 92.5vw;
  justify-self: center;
}

@media screen and (max-width: 1024px) {
.auto {
  width: 90.625vw;
  min-width: 720px;
}
}

@media screen and (max-width: 768px) {
.auto {
  width: 93.75vw;
  min-width: 288px;
}
}

@media screen and (max-width: 320px) {
.auto {
  width: 90vw;
}
}