.places {
  max-width: 984px;
  min-width: 928px;
  width: 76.875vw;
  justify-self: center;
  margin-top: 92px;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
.places {
  width: 90.625vw;
  min-width: 720px;
 }
}

@media screen and (max-width: 768px) {
.places {
  margin-top: 88px;
  width: 93.75vw;
  gap: 73px;
  min-width: 320px;
}
}

@media screen and (max-width: 720px) {
.places {
  margin-top: 64px;
}
}

@media screen and (max-width: 320px) {
.places {
  width: 90vw;
  gap: 50px;
}
}