.header__lang {
  font-size: 24px;
  font-weight: 400px;
  line-height: 28px;
  font-style: normal;
  text-decoration: none;
  color: white;
  margin-left: 18px;
}

.header__lang:hover {
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .header__lang {
    font-size: 18px;
    font-weight: 400px;
    line-height: 20px;
    margin-left: 18px;
  }
}