.cover__subtitle {
  width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 32px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 767px) {
.cover__subtitle {
  width: 288px;
  font-size: 14px;
  line-height: 16px;
  margin-top: 16px;
}}