.cover__subtitle {
  width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 32px;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  z-index: 1;
  color: white;
  text-decoration: none;
  transition: opacity .7s ease-in-out;
}

.cover__subtitle:hover {
  opacity: .55;
}

@media screen and (max-width: 767px) {
.cover__subtitle {
  width: 288px;
  font-size: 14px;
  line-height: 16px;
  margin-top: 16px;
}}