.header {
  max-width: 1184px;
  min-width: 288px;
  width: calc(100% - 96px);
  height: 52px;
  margin: 0 auto;
  margin-top: 28px;
  background-image: url(/images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  }

  @media screen and (max-width: 768px) {
.header {
  width: calc(100% - 48px);
 }
}

@media screen and (max-width: 320px) {
.header {
  width: calc(100% - 16px);
  height: 42px;
  margin-top: 16px;
 }
}