.header {
  max-width: 1184px;
  height: 52px;
  margin: 28px 48px 0;
  background-image: url(../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  }

@media screen and (max-width: 768px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 288px;
    height: 42px;
    margin: 16px 16px 0;
  }
}
