.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 14px;
}

@media screen and (max-width: 767px) {
.footer__link {
  font-size: 24px;
  line-height: 24px;
  display: block;
  margin-bottom: 32px;
}
}