.lead__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
  margin: 48px auto 0;
}

@media screen and (max-width: 767px) {
.lead__title {
  max-width: 288px;
  font-size: 40px;
  line-height: 44px;
 }}