.place__paragraph {
  margin-top: 0;
  margin-bottom: -22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph:last-of-type {
 margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
.place__paragraph {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: -23px;
}}

@media screen and (max-width: 767px) {
.place__paragraph {
  width: calc(100vw - 16px*2);
  justify-self: center;
  margin: 0 16px -7px;
}}