.lead__image {
  max-width: 984px;
  margin-top: 64px;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
.lead__image {
  width: 90.625vw;
  min-width: 768px;
  margin-top: 56px;
}
}

@media screen and (max-width: 768px) {
.lead__image {
  min-width: 100vw;
}
}

@media screen and (max-width: 320px) {
.lead__image {
  margin-top: 40px;
  min-width: 100vw;
}
}