.lead__image {
  width: 100%;
  max-width: 984px;
  margin-top: 64px;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px){
.lead__image {
  max-width: 928px;
  margin-top: 56px;
}
}

@media screen and (max-width: 767px){
.lead__image {
  margin-top: 40px;
}
}

