.intro {
  display: grid;
  max-width: 984px;
  width: 76.85vw;
	margin-top: 92px;
  justify-self: center;
}

@media screen and (max-width: 1024px) {
.intro {
  width: 90.625vw;
  max-width: 928px;
  min-width: 720px;
  margin-top: 88px;
}
}

@media screen and (max-width: 767px) {
.intro {
  width: 90vw;
  margin-top: 64px;
  min-width: 288px;
}
}