.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 32px auto 0;
}

@media screen and (max-width: 720px) {
.lead__subtitle {
  max-width: 288px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 16px;
}
}