.lead__caption {
  display: grid;
  width: 100%;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  justify-self: center;
}

@media screen and (max-width: 1024px) {
.lead__caption {
  width: 90.625vw;
  min-width: 720px;
}
}

@media screen and (max-width: 768px) {
.lead__caption {
  width: 93.75vw;
  min-width: 288px;
}
}

@media screen and (max-width: 320px) {
.lead__caption {
  width: 90vw;
}
}