.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width:768px) {
.lead__caption {
  margin-left: 24px;
}
}

@media screen and (max-width:320px) {
.lead__caption {
  margin-left: 16px;
}
}