.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto 1fr;
  gap: 48px 40px;
}

@media screen and (max-width: 1279px) {
.place {
  grid-template-columns: 440px 456px;
  gap: 48px 32px;
}}

@media screen and (max-width: 1023px) {
.place {
  grid-template-columns: 340px 352px;
  grid-template-rows: auto auto auto;
  gap: 48px 28px;
}}

@media screen and (max-width: 767px) {
.place {
  grid-template-columns: 320px;
  gap: 32px;
}}