.footer {
  max-width: 1184px;
  min-width: 928px;
  width: 92.5vw;
  margin-top: 92px;
  margin-bottom: 24px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
.footer {
  width: 90.625vw;
  min-width: 720px;
}
}

@media screen and (max-width: 768px) {
.footer {
  width: 93.75vw;
  min-width: 288px;
  margin-top: 88px;
}
}

@media screen and (max-width: 767px) {
.footer {
  width: 288px;
  height: 310px;
  margin-top: 64px;
  flex-direction: column;
  align-items: flex-start;
}
}