.place__website {
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #AAA;
  letter-spacing: 2px;
  align-self: end;
  margin-top: 12px;
  transition: opacity .35s linear;
  font-family: 'Inter';
}

.place__website:hover {
  opacity: .45;
}

@media screen and (max-width: 767px) {
.place__website {
  line-height: 21px;
  margin-left: 16px;
  margin-top: -17px;
  margin-bottom: -5px;
}}