.place__website {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #AAA;
  letter-spacing: 2px;
  align-self: end;
  margin-top: 12px;
  margin-bottom: 0;
  transition: opacity .35s linear;
}

.place__website:hover {
  opacity: .45;
}

@media screen and (max-width: 767px) {
.place__website {
  line-height: 24px;
  margin: 0 16px;
}}